body {
  font-family: "Ubuntu",Helvetica,Arial,sans-serif;
}

.headline .thumbnail {
  padding: 0;
  color: #ddd;
}

.headline a {
  text-decoration: none;
}

.headline img {
  margin-left:0px;
  margin-top:0px;
  border-radius:4px 4px 0 0;
  max-width: 100%;
}

.item .thumbnail {
  padding: 0;
  max-width: 345px;
  color: #ddd;
}

.item a {
  text-decoration: none;
}

.item img {

/*  margin-left:-1px;
  margin-top:-1px;
  max-width: 100.5%; */
  border-radius:4px 4px 0 0;
}

@media (max-width: 768px) {
  .item .thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .headline .thumbnail {
    display: block;
    max-width: 345px;
    margin-left: auto;
    margin-right: auto;
  }
}
