/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
}

.conf-14 {
  display:table;
  height:50%;
  width:100%;
  background: #7fbbda;
  color: #ffffff;
}

.conf-13 {
  display:table;
  height:50%;
  width:100%;
}

.center-all {
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}